
p{color:rgb(15, 10, 34);}
body { 
 margin: 0;
 font-family: system-ui; 
}

.hero{
background-image: url(portfoliobg.png);
background-size: cover;
background-repeat: no-repeat;
height: 100vh;
}

.container{
 max-width: 960px;
 margin-left: 0px;
 margin-right: 0px;
 padding-left: 20px;
 padding-right: 20px;
}